@page "/Contact"

<div class="text-center mt-5">
    <h2 class="text-primary">Liên hệ</h2>
    <p>Website được tạo bởi Đạt Trương.</p>
    <p>
        <i class="ri-phone-fill"></i>
        Hotline: 1800-6262
    </p>
    <p>
        <i class="ri-mail-line"></i>
        Email: anh23dat.truong@gmail.com
    </p>
    <p>Mọi thắc mắc vui lòng liên hệ theo các đường hotline.</p>
    <p>Cảm ơn bạn đã sử dụng dịch vụ của tôi!</p>
    <a href="/" class="btn btn-primary blue-btn">Quay về trang chủ</a>
</div>