@page "/LaptopManagement"
@using LaptopECommerceWASM.Services
@using LaptopECommerce.Models
@using LaptopECommerceWASM.Components
@inject ILaptopService LaptopService
@inject IToastService toastService

@if (Laptops == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="titleLayout mb-3">
        <h3 class="fw-bold">Danh sách laptop</h3>
        <a href="/LaptopAdd" class="btn btn-primary blue-btn">
            <i class="ri-add-line"></i>
            Thêm laptop
        </a>
    </div>

    @foreach(var item in Laptops)
    {
        <div class="card mb-3">
            <div class="card-body shadow-sm">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/image/@item.ImageURL" width="150" height="150" />
                        </div>
                        
                    </div>
                    <div class="col-sm-5 fw-bold alignMiddle">
                        Tên: @item.Name
                    </div>
                    <div class="col-sm-2 alignMiddle">
                        Giá @item.Price
                    </div>
                    <div class="col-sm-3 alignMiddle">
                        <div class="d-flex gap-2">
                            <a href="/LaptopDetails/@item.LaptopId" class="btn btn-primary blue-btn">
                                <i class="ri-computer-line"></i>
                                Chi tiết
                            </a>
                            <a href="/LaptopEdit/@item.LaptopId" class="btn btn-primary blue-btn">
                                <i class="ri-edit-line"></i>
                                Sửa
                            </a>
                            <a class="btn btn-primaty red-btn" @onclick="()=>OnDeleteLaptop(item.LaptopId)"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Xoá sản phẩm">
                                <i class="ri-delete-bin-5-fill"></i>
                                Xoá
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <Confirmation ConfirmationMessage="Xác nhận xoá sản phẩm này?"
                  ConfirmationTitle="Xoá sản phẩm"
                  @ref="DeleteConfirmation"
                  ConfirmationChanged="OnConfirmDeleteLaptop">
    </Confirmation>
}


@code {
    private List<LaptopRequest> Laptops;

    protected override async Task OnInitializedAsync()
    {
        Laptops = await LaptopService.GetLaptops();
    }

    protected Confirmation DeleteConfirmation { set; get; }
    private Guid deleteId { get; set; }

    public void OnDeleteLaptop(Guid id)
    {
        deleteId = id;
        DeleteConfirmation.Show();
    }
    public async Task OnConfirmDeleteLaptop(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            await LaptopService.DeleteLaptop(deleteId);
            Laptops = await LaptopService.GetLaptops();
            toastService.ShowSuccess("Xoá sản phẩm thành công");
        }
    }
}
