@page "/LaptopManagement"
@using LaptopECommerceWASM.Services
@using LaptopECommerce.Models
@using LaptopECommerceWASM.Components
@inject ILaptopService LaptopService


@if (Laptops == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <h3>LaptopManagement</h3>

    @foreach(var item in Laptops)
    {
        <div class="card mb-3">
            <div class="card-body shadow-sm">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="d-flex flex-column align-items-center">
                            <img src="@item.ImageURL" width="150" height="150" />
                        </div>
                        
                    </div>
                    <div class="col-sm-6 fw-bold alignMiddle">
                        Tên: @item.Name
                    </div>
                    <div class="col-sm-2 alignMiddle">
                        Giá @item.Price
                    </div>
                    <div class="col-sm-2 alignMiddle">
                        <a href="/LaptopDetails/@item.LaptopId" class="btn btn-outline-primary">
                            <i class="ri-computer-line"></i>
                            Chi tiết
                        </a>
                        <a href="/EditPatient/@item.LaptopId" class="btn btn-outline-primary">
                            <i class="ri-edit-line"></i>
                            Sửa
                        </a>
                        <button class="btn btn-primary" >
                            <i class="ri-delete-bin-line"></i>
                            Xoá
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
}


@code {
    private List<LaptopRequest> Laptops;

    protected override async Task OnInitializedAsync()
    {
        Laptops = await LaptopService.GetLaptops();
    }
}
